.container{
    position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: #0000006e;
      border: 1px solid #FEFEFF;
      padding: 1rem;
      border-radius: .4rem;
      width: 310px;
      text-align: center;
      overflow: hidden;
    }
    
h1{
    margin-top: 1rem;
    color: #FEFEFF;
    text-align: center;
}

span{
    color: #FEFEFF;
    font-size: 14px;
    transition: 1s all;
}
