<div class="del" *ngIf="delete">
  <app-delete (closeEvent)="getClose($event)"></app-delete>
</div>
<div class="del" *ngIf="consumption">
  <app-consumption (consumptionEvent)="getConsumption($event)"></app-consumption>
</div>

<div id="menu">
  <div>
    <span>⚡</span> <span>{{ username }}</span>
  </div>
  <div id="buttons">
    <button *ngIf="isLoged"  (click)="logOut()">
      Cerrar Sesión
    </button>
    <button *ngIf="isLoged" class="consumption" (click)="showConsumption()">Modificar Consumo</button>
    <button *ngIf="isLoged" class="delete" (click)="showDel()">
      Borrar Cuenta
    </button>
    <button routerLink="login" routerLinkActive="active" *ngIf="!isLoged">
      Login/Registro
    </button>
  </div>
</div>
