.switcher{
    margin-top: 1.5rem;
    line-height: 2.4rem;
    background-color: #7577803d;
    cursor: pointer;
    font-weight: bold;
    transition: .5s all;
}
.switcher a{
    padding: .7rem;
    color: #FEFEFF;
    text-decoration: none;
    transition: .5s all;
}
.switcher .active{
    background-color: #FBAE3C;
    transition: .5s all;
}