<form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
  <label for="name">Nombre</label>
  <input type="text" placeholder="Nombre" formControlName="name" />
  <!-- <div *ngIf="signupForm.controls['name'].invalid && (signupForm.controls['name'].dirty || signupForm.controls['name'].touched)" class="alert">
    <div *ngIf="signupForm.controls['name'].errors?.['required']">
    Please enter username
  </div>
</div> -->
  <label for="userName">Nombre de usuario</label>
  <input
    type="text"
    placeholder="Mínimo 5 caracteres"
    formControlName="username"
  />

  <label for="password">Contraseña</label>
  <input type="password" placeholder="Contraseña" formControlName="password" />
  <span>Vamos a calcular tu gasto</span>
  <label for="size"></label>
  <select name="size" id="" formControlName="size">
    <option value="" disabled="disabled" selected="selected">
      Selecciona el tamaño de tu hogar
    </option>
    <option value="SMALL">Casa pequeña</option>
    <option value="MEDIUM">Casa mediana</option>
    <option value="LARGE">Casa grande</option>
  </select>

  <label for="consumption"></label>
  <select name="consumption" id="" formControlName="consumption">
    <option value="" disabled="disabled" selected="selected">
      ¿Cuanto consumes?
    </option>
    <option value="LOW">Consumo bajo</option>
    <option value="MEDIUM">Consumo medio</option>
    <option value="HIGH">Consumo alto</option>
  </select>

  <span>En caso de que olvides tu contraseña</span>
  <label for="security_q"></label>
    <select name="security_q" id="" formControlName="security_q">
      <option value="" disabled="disabled" selected="selected">
        Selecciona una pregunta
      </option>
      <option value="1">¿Modelo de tu primer coche?</option>
      <option value="2">¿El nombre de tu primera mascota?</option>
      <option value="3">¿Razones por las que te cae bien tu suegra?</option>
    </select>

  <label for="security_a"></label>
    <input
      type="text"
      name="security_a"
      placeholder="Respuesta a la pregunta"
      formControlName="security_a"
    />

  <button value="Iniciar sesión" [disabled]="!signupForm.valid" type="submit">
    Registro
  </button>
  <div class="errorMsg" *ngIf="error.length > 0 && error != 'noError'">
    <div [innerHTML]="error"></div>
  </div>

  <div class="successMsg" *ngIf="error == 'noError'">
    <div>Cuenta creada correctamente. Inicia sesión para comenzar a utilizarla</div>
    <a href="http://localhost:4200/login">Iniciar Sesión</a>
  </div>

</form>