<form  [formGroup]="resetForm" (ngSubmit)="reset()" novalidate>
    <label for="userName"></label>
    <input type="text" placeholder="Nombre de Usuario" formControlName="username"/>

    <label for="security_q"></label>
      <select name="security_q" id="" formControlName="security_q">
        <option value="" disabled="disabled" selected="selected">
          Selecciona una pregunta
        </option>
        <option value="1">¿Modelo de tu primer coche?</option>
        <option value="2">¿El nombre de tu primera mascota?</option>
        <option value="3">¿Razones por las que te cae bien tu suegra?</option>
      </select>
    
    <label for="security_a">    </label>
      <input
        type="text"
        name="security_a"
        placeholder="Respuesta a la pregunta"
        formControlName="security_a"
      />
  
    <label for="pwd"></label>
    <input type="password" placeholder="Nueva contraseña" formControlName="password"/>
    <button value="Iniciar sesión" [disabled]="!resetForm.valid">Restaurar Contraseña</button>
    <div class="errorMsg" *ngIf="error.length > 0 && error != 'noError'">
      <div [innerHTML]="error"></div>
    </div>
  
    <div class="successMsg" *ngIf="error == 'noError'">
      <div>Contraseña actualizada satisfactoriamente</div>
    </div>
  </form>

